body{
    font-family: monospace;
}

/*Vertival navigation bar*/
.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
}

li a{
    display: block;
    text-decoration: none;
    padding: 8px 16px;
}

li a.active{
    background-color: #7dce94;
    color: #3d3d3f;
}

li a:hover not(.active){
    background-color: #555;
    color: white;
}

li a:hover{
    background-color: #555;
    color: white;
}

/*Welcome section of the first page*/

#welcome-section{
    height: 100vh;
    text-align: center;
    padding: 100px;
    background-color: #f6f5f3;
}


/*Experience Section*/
#experience{
    background-color: #7dce94;
    padding: 1px 16px;
    color: #3d3d3f;
}

/*Publications Section*/
#publications{
    background-color: lightgray;
    padding: 1px 16px;
    color: #3d3d3f;
}

/*General style of sections*/
#section-head{
    margin-left: 150px;
    font-size: 20pt;
}

#section-list{
    margin-left: 150px;
    list-style: none;
}

.publication-image{
    margin-left: 150px;
}

/*click here to buy, banner*/

.banner{
    width: 400px;
    height: 145px;
}


/*Footer - Social media icons*/
.social{
    margin-left: 45%;
}



