body{
    font-family: monospace;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
}

li a{
    display: block;
    text-decoration: none;
    padding: 8px 16px;
}

li a.active{
    background-color: #4CAF50;
    color: white;
}

li a:hover not(.active){
    background-color: #555;
    color: white;
}

@media only screen and (max-width:800px){
    navbar{
        width: 100%;
    }
}

#welcome-section{
    height: 100vh;
}


