body{
    font-family: monospace;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
   }
li a{
    display: block;
    padding: 8px;
    background-color: #dddddd;  
    text-decoration: none;
    color: white;
}

li a.active{
    background-color: #4CAF50;
    color: white;
}

li a:hover{
    background-color: #555;
    color: white;
}

@media only screen and (max-width:400px){
    navbar{
        width: 100%;
    }
}

#welcome-section{
    height: 100vh;
    }

#navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}


